@import "./colors";
@import "./Header.scss";

.App {
  background-color: $bgGray1;
  width: 100vw;
  height: 100vh;
  //overflow: hidden;

  .App-main {
    display: flex;
    align-items: left;
    width: 100%;
    height: calc(100% - #{$headerHeight});
  }
}